 *{
     margin: 0;
    padding: 0; 
    box-sizing: border-box; 
} 
.logo{
    display: block;
    width: 200px;
    height: auto;
}
.spacex1{
    width: 200px;
    margin-left: -23;
    
}
body{
    background-color: rgb(88, 69, 69);
    color: white;
    font-family:D-DIN-Bold,Arial,Verdana,sans-serif;
}
a{
    color: white;
}
svg{
    fill:white
}
header{
    display: flex;
    align-items: center;
    padding-top: 30px;
    
}
.image{
    width:28px;
    height: 25px;

}
.nav1{
    display: flex;
    align-items: center;
    position: fixed;

    padding-top: 42px;
    /* justify-content: space-between; */
    padding-left:40px; 
    
   
}
.nav1 a{
 
    text-decoration: none;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    padding: 0 12px;


}
.nav2 {
   
    position: fixed;
    padding-top: 36px;
    padding-right: 30px;
    right: 0;
    top: 0;
}
.hamp {
    text-decoration: none;
    padding-right: 22px;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
}
.image{
      width: 20px;
      height: 20px;
}

.section1{
    min-height: 100vh;
    background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/Star4_37_outsidebeach_IMG_4152_1_desktop_1_0ae909e40a.jpg);
    background-size: cover;
}
.section2{
    min-height: 100vh;
    background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/desktop_homepage_71a0b886e5.jpg);
    background-size: cover;
}
.section3{
    min-height: 100vh;
    background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/SWOT_Launch_Desktop_311b77d6b9.jpg);
    background-size: cover;
}
.section4{
    min-height: 100vh;   
    background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/Homepage_Desktop_5ebdeb0c6c.webp);
    background-size: cover;
}
.section5{
    min-height: 100vh; 
    background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/S20_Chopstick_Stack_Desktop_0c016b49ec.webp);
    background-size: cover;
}
.content1{
    padding-top: 286px;
    margin-left: 50px;
}
.content2{
    padding-top: 286px;
    margin-left: 50px;
}
.content3{
    padding-top: 286px;
    margin-left: 50px;
}
.content4{
    padding-top: 286px;
    margin-left: 50px;
}
.content5{
    padding-top: 286px;
    margin-left: 50px;
}
.button1{
    background: transparent;
    border-color: white;
    color: white;
    size: 20px;
    padding: 20px 40px;
    
    
}
.heading1{
    font-size: 40px;
    font: bold;
    font-family: D-DIN-Bold,Arial,Verdana,sans-serif;
    /* font-weight: 00; */
    font-style: normal;
    padding-bottom: 25px;
}
.h1{
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 5px;

}
footer{
    background-color: black;
    width: 100%;
    height: 100px;
}


.list{
    display: flex;
    justify-content: center;
    padding-top: 45px;
    
}
.footer1{
     padding-left: 20px;
    padding-right: 20px; 
    
}
a{
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
}
.spacex{
    font-size: 10px;
    font-family:12px D-DIN-Bold,Arial,Verdana,sans-serif;
    color: #979797;
    padding-right: 20px;
}